html,
body {
  margin: 0;
  padding: 0;
}

.block1,
.block2 {
    height: 100vh;
    width: 100%;
}

.block1 {
    background: red;
}

.block2 {
    background: green;
}

.ImageButton_1 {
    position: absolute;
    left: 50%;
    z-index: 100;
    bottom: 50px;
}

.ImageButton_1link {
    position: relative;
    z-index: 0;
    display: block;
    margin-top: 40px;
    overflow: visible;
    -ms-touch-action: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.ImageButton_1_correct-positioning {
    position: absolute;
    cursor: pointer;
}

.ImageButton_1defaultImage {
    overflow: hidden;
    position: absolute;
    opacity: 1;
    cursor: pointer;
}

.ImageButton_1hoverImage {
    overflow: hidden;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.ImageButton_1activeImage {
    overflow: hidden;
    position: absolute;
    opacity: 0;
}
